.teacher_dashboard.webix_abslayout{
    background-color:#eee;
}
.students_list .webix_list_item,
.students_list .webix_list_item.webix_selected{
    padding:15px 20px;
    color:#222;
}
.students_list .webix_list_item.webix_selected,
.my_style div.webix_cell.webix_row_select{
    background-color:#C7EBFF;
}
.new{
    vertical-align:super;
    font-size:9pt;
    line-height:10pt;
}
.new{
    color:#e0115f;
}
.progress{
    min-width:35%;
    text-align:center;
    float:right;
    border-radius:3px;
    color:#fff;
}
.good{
    background-color:#37bc98;
}
.okay{
    background-color:#f6bb42;
}
.bad{
    background-color:#cf6a87;
}
.right{
    text-align:right;
}
.webix_bullet_graph_svg {
    margin-left:5px;
    padding-top:8px;
}
.webix_bullet_scale{
    font-size:8px;
}
.my_style div.webix_cell, .my_style .webix_hcell{
    padding-left:15px;
    padding-right:15px;
    color:#222;
}
.my_style .webix_hcell, .my_style .webix_ss_vscroll_header{
    background:#eee;
}
.my_style .webix_ss_header td, .my_style .webix_ss_vscroll_header {
    border: 1px solid #ddd;
}
.assignment_complete, .arrow_up{
    color:green;
}
.assignment_incomplete, .arrow_down{
    color:red;
}
.arrows{
    font-size:11px;
    vertical-align:super;
}
.multiline{
    line-height: 26px !important;
}
.teacher_tooltip{
    background-color:#ffffffde;
    color:#222223;
    border-radius:3px;
    width:200px;
}
.question .webix_icon {
    cursor:pointer;
}