.curriculum svg{
    height:100%;
    width:100%;
}
.teacher_dashboard.webix_abslayout{
    background-color: #EBEDF0;
}
.students_list .webix_list_item,
.students_list .webix_list_item.webix_selected{
    padding:15px 20px;
}
.new{
    vertical-align:super;
    font-size:9pt;
    line-height:10pt;
    color:#e0115f;
}
.progress{
    min-width:35%;
    text-align:center;
    float:right;
    border-radius:3px;
    color:#fff;
}
.good{
    background-color:#55CD97;
}
.okay{
    background-color:#FDBF4C;
}
.bad{
    background-color: #FF5C4C;
}
.right{
    text-align:right;
}
.webix_bullet_graph_svg {
    margin-left:5px;
    padding-top:8px;
}
.webix_bullet_scale{
    font-size:8px;
}
.progress_table div.webix_cell, .progress_table .webix_hcell{
    padding-left:15px;
    padding-right:15px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.assignment_complete, .arrow_up{
    color:#55CD97;
}
.assignment_incomplete, .arrow_down{
    color: #FF5C4C;
}
.arrows{
    font-size:11px;
    vertical-align:super;
}
.question .webix_icon {
    cursor:pointer;
    margin-right: 25%;
    margin-top: 50%;
}

.panel_drag_handle.webix_el_icon .webix_el_box .webix_icon_button{
    cursor: grabbing;
}
